/* Catppuccin Mocha Colors */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    border: none;
    border-radius: 20px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces, #mode, #clock, #battery, #pulseaudio, #network {
    padding: 5px 10px;
    margin: 5px 5px;
    background: @base;
    border: 1px solid @surface0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#workspaces button:hover {
    background: @surface0;
    border-radius: 10px;
}

#mode {
    color: @peach;
}

#clock {
    color: @sapphire;
}

#battery {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#pulseaudio {
    color: @pink;
}

#pulseaudio.muted {
    color: @subtext0;
}

#network {
    color: @teal;
}

#network.disconnected {
    color: @red;
}